<h2>ユーザー詳細</h2>

<table>
        <tr>
            <td><%= @user.user_name %></td>
        </tr>
        <% if @user.id == current_user.id %>
        <tr>
            <td><%= @user.email %></td>
        </tr>
    <% end %>
    <tr>
        <td><%= @user_introduction %></td>
    </tr>
    <% if @user.id == current_user.id %>
        <%= link_to "編集", edit_user_path(@user) %>
        <%= link_to "ルーム登録", new_user_path %>
    <% end %>
    
</table>

<%= link_to 'ログアウト', 
  destroy_user_session_path,
  class: 'dropdown-item',
  method: :delete
%>