<div class = "container">
    <div class = "reservation_confirm_title">
        確認画面
    </div>

    <div class = "reservation_confirm_table">

        <div class = "confirm_tr">
            <div>チェックイン日</div>
            <div class = "confirm_tag"><%= @reservation.start_date.strftime("%Y/%m/%d") %></div>
        </div>

        <div class = "confirm_tr">
            <div>チェックアウト日</div>
            <div class = "confirm_tag"><%= @reservation.end_date.strftime("%Y/%m/%d") %></div>
        </div>

        <div class = "confirm_tr">
            <div>宿泊日数</div>
            <div class = "confirm_tag"><%= @reservation.stay_days %></div>
        </div>

        <div class = "confirm_tr">
            <div>人数</div>
            <div class = "confirm_tag"><%= @reservation.person %></div>
        </div>

        

        <div class = "confirm_tr">
            <div>支払い金額</div>
            <div class = "confirm_tag"><%= @reservation.total_price %>円</div>
        </div>

    </div>

    <%= form_with(model: [@room_info, @reservation], url: room_reservations_path(@room_info)) do |f| %>
        <div>
            <%= f.hidden_field :start_date %>
            <%= f.hidden_field :end_date %>
            <%= f.hidden_field :person %>
            <%= f.submit "確定する" %>
            <%=link_to "予約をやり直す", :back %>
        </div>
    <% end %>
</div>
