<h2>ルーム編集</h2>

<%= form_with model: @room do |f| %>

<table>
    <tr>
        <th><%= f.label :room_name %></th>
        <td><%= f.text_field :room_name %></td>
    </tr>

    <tr>
        <th><%= f.label :room_introduction %></th>
        <td><%= f.text_area :room_introduction %></td>
    </tr>

    <tr>
        <th><%= f.label :price %></th>
        <td><%= f.text_field :price %></td>
    </tr>

    <tr>
        <th><%= f.label :address %></th>
        <td><%= f.text_field :address %></td>
    </tr>

    <tr>
        <th><%= f.label :image %></th>
        <td><%= f.file_field :image %></td>
    </tr>
</table>

<ul>
    <li><%= f.submit "更新する" %></li>
</ul>


<% end %>
