<div class="text-center">
<h1 class = 'p-2'>【施設検索】</h1>
<%= search_form_for @q, url: search_rooms_path do |f| %>
  <%= f.label :_cont, 'キーワード検索:' %>
  <%= f.search_field :room_name_or_room_introduction_cont %>
  <br>
  <br>
  <%= f.submit '検索' %>
<% end %>
<br>
<h1 class = 'p-2'>【エリア検索】</h1>
<%= search_form_for @q, url: search_rooms_path do |f| %>
  <%= f.label :_cont, 'エリア名検索:' %>
  <%= f.search_field :address_cont %>
  <br>
  <br>
  <%= f.submit '検索' %>
  
<% end %>
</div>